h1, p {
    text-align: center;
}

li {
    list-style: none;
}

.list-ordened:hover {
    background-color: chartreuse;
    transition: background-color 2s;
}

.list-ordened:active {
    font-family: sans-serif;
    font-weight: 600;
}